<% provide(:title, "Contact") %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>You can contact me.</h2>
    </div>
    <div class="panel-body">
        <p>
            Email: zettablade@gmail.com
            <br>Phone: ???
        </p>
    </div>
</div>
