<% provide(:title, "Contact") %>
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Contact Information</h2>
        </div>
        <div class="panel-body">
            <p>
                <i>Please do not use this information for evil.</i>
                <br><u>Email</u> - <a href="mailto:zettablade@gmail.com">zettablade@gmail.com</a>
                <br><u>Phone</u> - 206.546.1914
                <br><u>Github</u> - <a href="www.github.com/andgate">www.github.com/andgate</a>
            </p>
        </div>
    </div>
</div>
