<div class="panel panel-default">
    <div class="panel-heading">
        <h2>I Am A Coder</h2>
    </div>
    <div class="panel-body">
        <p>
            I write code.
            <br><a href="http://www.github.com/andgate">I have a github.</a>
            <br>I am currently looking for an internship.
        </p>
    </div>
</div>