<div class="col-md-3 col-md-offset-1">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Gabriel Anderson</h2>
        </div>
        <div class="panel-body">
            <%= image_tag("profile.jpg", :alt => "Gabe and Pabu", :class => "img-thumbnail") %>
            <p>Pictured: Gabriel, Pabu</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Personal Information</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>Age: 24</li>
                <li>Weight: Too Much</li>
                <li>Favorite Snack: Whatever Raleigh is eating</li>
            </ul>
        </div>
    </div>
    
</div>

          
<div class="col-md-7">         
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>About Me</h2>
        </div>
        <div class="panel-body">
            <p>
                I've been programming since I was 13 years old. My first experience as a software developer was writing Lua scripts on a Playstation Portable that I hacked. I quickly learned C afterwards, and developed a game library called vLib. Over the years, my skills as a programmer have continued to grow. I've studied many programming languages and disciplines, as well as designed and built my own software. I am resourceful and will learn what I need to in order to solve a problem. I enjoy navigating the source code of complex projects on github to learn how some piece of software is built. I love talking to other people about software development, and I'm eager to hear feedback on my own ideas. I am currently looking to get into the industry.
            </p>
        </div>
    </div>
</div>