<% provide(:title, "Resume") %>
<div class="col-md-3 col-md-offset-1">
    <center>
        
    <h2>Gabriel Anderson</h2>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Resume</h2>
        </div>
        <div class="panel-body">
            <p>
                Hello, my name is Gabriel Anderson, and I am a programmer.
                <br>You can download this resume as a
                <%= link_to "pdf file", "/resume.pdf", target: "_blank" %>
                or a 
                <%= link_to "word document", "/resume.docx", target: "_blank" %>
                .
            </p>
        </div>
    </div>
        
    <h2>Skills</h2>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Languages</h2>
        </div>
        <div class="panel-body">
            Java • C++ • Haskell • Ruby
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Technologies</h2>
        </div>
        <div class="panel-body">
            <h3>Libraries</h3>
            libgdx • sdl • rails
            
            <h3>Databases</h3>
            postgresql • sqlite
            
            <h3>Tools</h3>
            git • vim
            
            <h3>Operating Systems</h3>
            windows • android • linux
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Education</h2>
        </div>
        <div class="panel-body">
            <h3>Shoreline Community College</h3>
            Associate of Arts (A.A.), Computer Science, 3.68 GPA
            <br> March 2016 | Shoreline, WA
        </div>
    </div>
    
    <center>
</div>

<div class="col-md-7">
    
    <h2>Projects</h2>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="http://github.com/andgate/pokeadot">Poke-A-Dot</a> | Game</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>Designed and built a dot-poking game challenging player reaction-time</li>
                <li>Developed with LibGDX in Java for Android and PC</li>
                <li>Marketed free and paid version on Google Play</li>
                <li>Implemented a polished user-interface</li>
            </ul>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="http://www.github.com/andgate/ikou">Ikou</a> | Game</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>Challenges players to solve an endless barrage of mazes</li>
                <li>Developed with LibGDX in Java for Android and PC</li>
                <li>Marketed free and paid version on Google Play</li>
                <li>Implemented random maze generation using the Recursive Backtracer Algorithm</li>
                <li>Developed a custom maze mesh generator that works similar to a voxel engine</li>
                <li>Invented a minimalistic control scheme and user-interface</li>
                <li>Currently developing a second version in my spare time which will have a competitive online multiplayer experience</li>
            </ul>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="http://www.gabecode.tech">GabeCode</a> | Blogfolio</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>Developed a personal website and single-user</li>
                <li>Implemented with Ruby-On-Rails and deployed via Heroku</li>
                <li>Employed MarkDown formatting to render blog posts</li>
            </ul>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="http://www.github.com/andgate/hawk">Hawk</a> | Programming Language</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>Designed and implemented an experimental, low-level, programming language</li>
                <li>Wrote two different proto-type compilers with C++ and Haskell respectively</li>
                <li>Developed an abstract syntax tree with C++</li>
                <li>Implemented parsing with Bison+Flex in C++</li>
                <li>Created a code generator that outputs to LLVM IR code using the LLVM C++ library</li>
                <li>Wrote a detailed guide to document usage of language</li>
                <li>Actively researching and developing features for the compiler such as type-inference, type-checking, and error reporting</li>
            </ul>
        </div>
    </div>
</div>
