<% provide(:title, "Resume") %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Resume</h2>
    </div>
    <div class="panel-body">
        <p>
            I've written code before. I swear.
        </p>
    </div>
</div>