<div class="col-md-8 col-md-offset-2">
  <h1>Edit Article</h1>
  <%= render 'form' %>
  <%= link_to 'Delete', @article, method: :delete, data: { confirm: "You sure?" } %>
  <%= link_to 'Back', articles_path %>
</div>