@import "bootstrap-sprockets";
@import "bootstrap";

$brand-color: #FCA205;
$heading-bg-color: #2C5B86;

$header-font: 'Cookie', cursive;
$content-font: 'Droid Sans', sans-serif;

.container {
  padding: 0px;
}

/* Navbar */

.navbar-fixed-top {
  padding-top: 5px;
}

.navbar-inverse {
    border-style: none;
    background-color: $heading-bg-color;
    color: #FFF;
    font-size: 1.5em !important;
    font-family: $header-font;
}

.navbar-inverse .navbar-brand {
    color: $brand-color;
    font-size: 2em !important;
    font-family: $header-font;
}

.navbar-fixed-bottom {
    font-size: 1.3em !important;
    text-align: center;
    min-height: auto;
    
    a {
      color: #FFF;
      text-decoration: underline;
    }
    
    a:hover {
      color: #CCC;
    }
}

html, body {
    height: 100%;
}

.jumbotron {
    margin: auto;
    height: 100%;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
  padding-top: 70px;
  background-color: #E1E1E1;
}

/* typography */

@media (max-width: $screen-xs-max) {
    body { font-size: 10px; }
}

@media (min-width: $screen-sm-min) {
    body { font-size: 14px; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1 {
  font-size: 3em !important;
  text-align: left;
}

h2 {
  font-size: 2em !important;
  text-align: left;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1em !important;
  font-family: 'Droid Sans', sans-serif;
}

/* Panels */
.panel {
  border-radius: 0;
}

.panel-heading {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.panel-body {
  padding: 15px !important;
}

/* footer */

footer {
  background-color: $heading-bg-color;
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #FFF;
  font-size: .7em;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}

footer a:hover {
  color: #CCC;
}

footer a:active {
    color: #CCC;
}

footer a:visted {
  color: #AAA;
}